venv/
Backend/Utils/DTOs/__pycache__/__init__.cpython-312.pyc
Backend/Utils/DTOs/__pycache__/AnalyzeCryptoRequestDTO.cpython-312.pyc
Backend/Utils/DTOs/__pycache__/AnalyzeCryptoResponseDTO.cpython-312.pyc
Backend/Utils/Methods/__pycache__/__init__.cpython-312.pyc
Backend/Utils/Methods/__pycache__/RepositoryClonation.cpython-312.pyc
Backend/Utils/Methods/__pycache__/Validations.cpython-312.pyc
frontend/src/components/EjemploComponente.js
