@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
  align-items: center;
  font-family: 300, 'Roboto', sans-serif;
  background: #16376e;
  min-height: 100vh;
  font-size: 1vh;
}

.App-header {
  background: 
    linear-gradient(
      #060e1c, 
      #0b1c37,
      #112a53,
      #16376e
    ),
    rgba(220, 220, 220, 1);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5em;
  color: white;
}

.CryptoAnalyzer {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.Request {
  min-height: 20vh;
  min-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  font-size: 2vh;
}
.Request input {
  min-width: 60vw;
  min-height: 4.5vh;
  text-align: center;
  border-radius: 4vmin;
  font-size: inherit;
  border-color: transparent;
  background: linear-gradient(
    #e5edfb, 
    #cadbf6
  );
}
.raise {
  min-width: fit-content;
  min-height: fit-content;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #2d6fdd;
  --hover: #7ca5ea;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1.5vh 2vw;
  border-radius: 4vmin;
  font-size: 2vh;
}
.raise:hover,
.raise:focus {
  border-color: var(--hover);
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}


.Response{
  min-width: 75vw;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3vmin;
}
.Response pre {
  word-wrap: break-word;
}
