.App {
  text-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #17181c;
  font: 300 1em 'Fira Sans', sans-serif;
  min-height: 100vh;
  font-size: 1vh;
}

.App-header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(117, 117, 117, 0.7)
    ),
    rgba(220, 220, 220, 1);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5em;
  color: white;
}

.CryptoAnalyzer {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 2vh;
}

.Request {
  min-height: 20vh;
  min-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  font-size: 2vh;
}
.Request input {
  min-width: 60vw;
  min-height: 4.5vh;
  text-align: center;
  border-radius: 4vmin;
  font-size: inherit;
  border-color: transparent;
  background: linear-gradient(
    rgba(239, 98, 255, 0.7), 
    rgba(196, 96, 254, 0.7)
  );
}
.raise {
  min-width: fit-content;
  min-height: fit-content;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #ff56e8;
  --hover: #dea1ff;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1.5vh 2vw;
  border-radius: 4vmin;
  font-size: 2vh;
}
.raise:hover,
.raise:focus {
  border-color: var(--hover);
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}


.Response{
  min-width: 75vw;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3vmin;
  color: #dea1ff;
}
.Response pre {
  word-wrap: break-word;
}
