.App {
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: lightslategray;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5vmin;
  color: white;
}

.CryptoAnalyzer {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 2vh;
}

.Request {
  min-height: 5vh;
  min-width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  gap: 2vw;
  font-size: 2vh;
}
.Request input {
  min-width: 35vw;
  min-height: 4.5vh;
  text-align: center;
  border-radius: 4vmin;
  font-size: inherit;
  border-color: transparent;
}
.Request button {
  min-height: inherit;
  min-width: 6vw;
  border-radius: 4vmin;
  text-align: center;
  font-size: inherit;
  border-color: transparent;
  background-color: rgb(190, 190, 190);
}

.Response{
  min-width: 75vw;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3vmin;
}
.Response pre {
  word-wrap: break-word;
}
